body {
  margin-left: 150px;
  background: radial-gradient(#239EEA, #9CC0E8, #D7E2ED);
}

h1{
  background-color: #66D2BF;
  width: 550px;
  color: white;
  font-family: "Georgia";
  padding: 1px;
  margin-left: 320px;
}

h2{
  background-color: #66D2BF;
  width: 136px;
  color: white;
  font-family: "Georgia";
  padding: 1px;
  margin-left: ;
}

h3{
  background-color: #66D2BF;
  width: 72px;
  color: white;
  font-family: "Georgia";
  padding: 1px;
}

p{
  background-color: #8971B4;
  width: 1208px;
  color: white;
  font-family: "Georgia";
}

ul.navbar {
  position: absolute;
  top: -20px;
  left: 1px;
  list-style-type: none;
  color: white;
  font-family: "Georgia";
}

ul.navbar li {
  margin: 40px 0;
  padding: 2px;
  border-right: 3px solid white;
  border-top: 2px solid white;
  border-left: 3px solid white;
  border-bottom: 2px solid white;
  background-color: #66D2BF;
  width: 67px;
}

ul.navbar a {
  text-decoration: none;
}

a:link {
  color: #5900FF;
}

a:visited {
  color: white;
}
